# OS
.DS_Store
Thumbs.db
.directory

# IDEs 
.buildpath
.project
.settings/
.build/
.external*/
.idea/
nbproject/

# composer related
vendor/
composer.lock

# build
build/
build.properties

# Translations
.tx

# NPM
node_modules
package-lock.json
