phpcq:
  repositories:
    - 'https://phpcq.github.io/repository/repository.json'
    - vendor/netzmacht/phpspec-phpcq-plugin/repository.json
  directories:
    - src
    - spec
  artifact: .phpcq/build
  plugins:
    doctrine-coding-standard:
      version: ^1.0
      signed: false
      requirements:
        composer:
          doctrine/coding-standard: ^13.0
    composer-normalize:
      version: ^1.0
      signed: false
    composer-require-checker:
      version: ^1.0
      signed: false
    phpcpd:
      version: ^1.1
      signed: false
    phploc:
      version: ^1.0
      signed: false
    phpmd:
      version: ^1.0
      signed: false
    psalm:
      version: ^1.0
      signed: false
    phpcs:
      version: ^1.0
      signed: false
    phpspec:
      version: ^1.0
      signed: false
  trusted-keys:
    - C00543248C87FB13
    - 033E5F8D801A2F8D
    - D2CCAC42F6295E7D
    - 4AA394086372C20A
    - 9093F8B32E4815AA
    - 8A03EA3B385DBAA1
    - 12CE0F1D262429A5
    - 31C7E470E2138192
    - 5E6DDE998AB73B8E
    - A978220305CD5C32
    - 97B02DD8E5071466
tasks:
  fix:
    - composer-normalize-fix
    - phpcbf
  verify:
    - composer-normalize
    - composer-require-checker
  analyze:
    - phpcpd
    - phploc
    - phpmd
    - psalm
    - phpcs
    - phpspec
  default:
    - verify
    - analyze
  composer-normalize-fix:
    config:
      dry_run: false
    plugin: composer-normalize
  composer-require-checker:
    config:
      config_file: .composer-require-checker.json
  phpcpd:
    config:
      exclude:
        - spec/Manager/WorkflowManagerSpec.php
        - spec/Flow/Condition/Transition/ConditionCollectionSpec.php
        - spec/Flow/Condition/Workflow/ConditionCollectionSpec.php
  phpcs:
    config:
      standard: ~
    uses:
      doctrine-coding-standard:
        phpcs_standard: ignore
  phpcbf:
    plugin: phpcs
    config:
      standard: ~
      fix: true
    uses:
      doctrine-coding-standard:
        phpcs_standard: ignore
